body{
	margin:0 auto;
	background:#999;
}

#gameTitle {
	margin:0 auto;
	width:800px;
	height:50px;
	font-size:35px;
	font-family:Verdana, Helvetica, "Times New Roman";
	text-align:center;
}

#gameWindow{
	margin:0 auto;
	width:800px;
	height:600px;
	background:#fff;
}

#gameCanvas{
	width:800px;
	height:600px;
	background:#000;
}